.container {
    text-align:center;
    width: 100%;
    padding: 15px 5px 0 5px;
    background: #ffd800;
}

.h3 {
    background: #ffd800;
}

.simple-menu {
    list-style-type: none;
    position: relative;
    height: 30px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    padding: 24px 0 0 0;
}

    .simple-menu li {
        outline-color: black;
        display: block;
        float: left;
        margin: 0 0 4px 4px;
        height: 25px;
    }

        .simple-menu li.left {
            margin: 0;
        }

        .simple-menu li a {
            display: block;
            float: left;
            color: black;
            background: #ff6a00;
            line-height: 30px;
            text-align: center;
            font-size: 15px;
            text-decoration: none;
            padding: 0 15px 0 18px;
            height: 28px;
            width: 170px;
        }

            .simple-menu li a.right {
                padding-right: 20px;
            }

            .simple-menu li a:hover {
                background: #2E4560;
            }

            .simple-menu li a.nav-item-active {
                color: #2E4560;
                background: #fff;
                font-size: 16px;
            }

            .simple-menu li a.current:hover {
                color: #2E4560;
                background: #fff;
            }

body {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 500vh;
}
.h2 {
    
}
.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center; /* căn lề ngang cho nội dung */
    vertical-align: middle; /* căn lề dọc cho nội dung */
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgrey;
    color: white;
    text-align: center;
}