.container {
    text-align:center;
    width: 100%;
    padding: 15px 5px 0 5px;
    background: #ffd800;
}

.h3 {
    background: #ffd800;
}

.simple-menu {
    list-style-type: none;
    position: relative;
    height: 30px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    padding: 24px 0 0 0;
}

    .simple-menu li {
        outline-color: black;
        display: block;
        float: left;
        margin: 0 0 4px 4px;
        height: 25px;
    }

        .simple-menu li.left {
            margin: 0;
        }

        .simple-menu li a {
            display: block;
            float: left;
            color: black;
            background: #ff6a00;
            line-height: 30px;
            text-align: center;
            font-size: 15px;
            text-decoration: none;
            padding: 0 15px 0 18px;
            height: 28px;
            width: 170px;
        }

            .simple-menu li a.right {
                padding-right: 20px;
            }

            .simple-menu li a:hover {
                background: #2E4560;
            }

            .simple-menu li a.nav-item-active {
                color: #2E4560;
                background: #fff;
                font-size: 16px;
            }

            .simple-menu li a.current:hover {
                color: #2E4560;
                background: #fff;
            }

body {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 150vh;
}
.h2{
    margin-top:30px;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center; /* căn lề ngang cho nội dung */
    vertical-align: middle; /* căn lề dọc cho nội dung */
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

.footer {
    background-color: #d8d8d8;
    color: black;
    height: 80px;
    text-align: center;
    padding-top: 1vh;
    bottom: 0;
}

/* Modal Header */
.modal-header {
    padding: 15px 20px;
    background-color: #ffd800;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 15px 20px;
}

/* Modal Footer */
.modal-footer {
    padding: 15px 20px;
    background-color: #ffd800;
    color: white;
}

/* Modal Content */
.modal-content {
    position:center;
    position: relative;
    background-color: #888;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

    .table td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
    }

    .table th {
        text-align: center;
        vertical-align: middle;
        border: 1px solid black;
        border-collapse: collapse;
    }


    .table tr:hover td {
        background-color: #faf84c;
    }

.container-item {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.item {
    font-size: 2.2vh;
    padding-right: 2vh;
    text-align: center;
}

#id1 {
    padding-right: 0;
}

.item img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.item:hover {
    text-decoration: underline;
    color: rgb(250, 53, 53);
}

.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .container2 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}